<div class="security__bottom container-sm">
  <div class="security__bottom--wrapper">
    <h2 class="security__bottom--title">Entrez dans une nouvelle ère</h2>
    <div class="security__bottom--content">
      <!-- Form -->
      <div class="security__bottom--form--intro">
        <p class="security__bottom--content-title">
          Inscrivez-vous avec votre numéro de téléphone.
        </p>
        <app-form></app-form>
      </div>
      <div class="security__bottom--content--apps-platform">
        <h3>Téléchargez l'application maintenant.</h3>
        <img
          class="security__bottom--content--apps-platform__image"
          src="../../assets/icons/apple-ios.webp"
          alt="apple store"
        />
        <img
          class="security__bottom--content--apps-platform__image"
          src="../../assets/icons/google-play.png"
          alt="playstore store"
        />
      </div>
    </div>
  </div>
</div>
