<div class="footer">
  <div class="footer--container">
    <div class="company-group--logo">
      <p class="company-group--logo--title">{{ download }}</p>
      <div>
        <img
          class="google-play-logo"
          src="../../../assets/icons/google-play.png"
          alt="playstore logo"
        />
      </div>
      <div>
        <img
          class="app-store-logo"
          src="../../../assets/icons/apple-ios.webp"
          alt=" apple store logo"
        />
      </div>
    </div>
    <div class="society">
      <p class="society--title">{{ company.title }}</p>
      <ul class="society--elements">
        <li>{{ company.about }}</li>
        <li>{{ company.learn }}</li>
        <li>{{ company.career }}</li>
      </ul>
    </div>
    <div class="about-us">
      <p class="about-us--title">{{ footer.contactUs }}</p>
      <ul class="about-us__social-links">
        <li class="links__items">
          <a>
            <img
              class="img-instagram"
              src="../../../assets/icons/instagram.svg"
              alt="instagram logo"
            />
          </a>
        </li>
        <li class="links__items">
          <a>
            <img
              class="img-facebook"
              src="../../../assets/icons/facebook.svg"
              alt="facebook logo"
            />
          </a>
        </li>
        <li class="links__items">
          <a>
            <img
              class="img-twitter"
              src="../../../assets/icons/twitter.svg"
              alt="twitter logo"
            />
          </a>
        </li>
      </ul>
      <p class="more-info">
        {{ footer.knowMore }} <span class="email">{{ footer.mail }}.</span>
      </p>
      <p class="webiste">{{ footer.infoWebsite }}</p>
    </div>
    <div class="copyright">
      <p>{{ footer.copyright }}</p>
    </div>
  </div>
</div>
