<header class="header">
  <div class="container">
    <div class="container__wrapper">
      <div class="header-menu">
        <a [routerLink]="['/home']" class="header-menu--brand">
          <img
            class="header-djamo-logo"
            src="../assets/icons/djamo-logo-black.svg"
            alt=" the djamo logo"
          />
        </a>
        <div class="navigation">
          <div class="mobile-menu">
            <a
              *ngIf="isNavigationOpen"
              class="hamburger-menu"
              (click)="toggleNavigation()"
            >
              <img
                class="hamburger-menu__icon"
                src="../assets/icons/hamburger-menu-icon.svg"
                alt="hamburger-menu-icon"
              />
            </a>
            <a
              *ngIf="!isNavigationOpen"
              class="close-menu"
              (click)="toggleNavigation()"
            >
              <img
                class="close-menu-icon"
                src="../assets/icons/close-icon-menu.svg"
                alt="close-menu-icon"
              />
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="!isNavigationOpen" class="mobile-navigation">
        <ul>
          <li>
            <a (click)="toggleNavigation()" [routerLink]="['/tarifs']"
              >Tarfis</a
            >
          </li>
          <li>
            <a (click)="toggleNavigation()" [routerLink]="['/points-relais']"
              >Points relais</a
            >
          </li>
          <li>
            <a (click)="toggleNavigation()" [routerLink]="['/apprendre']"
              >Apprendre</a
            >
          </li>
          <li>
            <a (click)="toggleNavigation()" [routerLink]="['/about']"
              >A propos</a
            >
          </li>
          <li>
            <a (click)="toggleNavigation()" [routerLink]="['/faq']">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="desktop-navigation">
        <!-- desktop navigation -->
        <ul class="desktop-navigation__menu">
          <li class="desktop-navigation__item">
            <a [routerLink]="['/tarifs']">Tarfis</a>
          </li>
          <li class="desktop-navigation__item">
            <a [routerLink]="['/points-relais']">Points relais</a>
          </li>
          <li class="desktop-navigation__item">
            <a [routerLink]="['/apprendre']">Apprendre</a>
          </li>
          <li class="desktop-navigation__item">
            <a [routerLink]="['/a-propos']">A propos</a>
          </li>
          <li class="desktop-navigation__item">
            <a [routerLink]="['/faq']">FAQ</a>
          </li>
          <li class="desktop-navigation__item">
            <a href="#">S'inscrire</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
