<section class="about">
  <!-- top -->
  <div class="top">
    <div class="top--content-wrapper">
      <h3 class="top--content-title">
        {{ topContent.title }}
      </h3>
      <div class="top--content-container">
        <p class="top--content-first-paragraph">
          {{ topContent.firstSentence }}
        </p>

        <p class="top--content-second-paragraph">
          {{ topContent.secondSentence }}
        </p>
      </div>
    </div>
    <div class="top--img-wrapper">
      <img class="top-image" [src]="topContent.image" alt=" people's image" />
    </div>
  </div>

  <!-- bottom -->
  <div class="bottom">
    <div class="bottom-content-wrapper">
      <h3 class="bottom-content-title">{{ bottomContent.title }}</h3>
      <div class="bottom-content-container">
        <p class="bottom-content-first-paragraph">
          {{ bottomContent.firstSentence }}
        </p>
        <p class="bottom-content-second-paragraph">
          {{ bottomContent.secondSentence }}
        </p>
        <p class="bottom-content-third-paragraph">
          {{ bottomContent.thirdSentence }}
        </p>
      </div>
    </div>
    <div class="bottom-img-wrapper">
      <img class="bottom-image" [src]="bottomContent.image" alt="group" />
    </div>
  </div>
</section>
<div class="mb-4">
  <app-footer-card></app-footer-card>
</div>
