<div class="container">
  <h2 class="container--title">Liste des points relais</h2>
  <div class="container-form">
    <div id="city" class="container-form__select-wrapper">
      <select name="city" id="city" class="container-form__select">
        <option value="Ville">Ville</option>
        <option value="abidjan">Abidjan</option>
        <option value="bassam">Bassam</option>
        <option value="bingerville">Bingerville</option>
      </select>
    </div>
    <div id="street" class="container-form__select-wrapper">
      <select name="street" id="street" class="container-form__select">
        <option class="container-form__select--item" value="quartier">
          Quartier
        </option>
        <option value="abobo_samake">Abobo Samake</option>
        <option value="abobo_abobote">Abobo Abobote</option>
        <option value="Adjame">Adjame</option>
      </select>
    </div>
  </div>

  <p class="paragraph">Veuillez selectionner une ville pour continuer</p>
  <div class="content"></div>
</div>
