<div class="wrapper">
  <div class="card-image">
    <img [src]="img" />
  </div>

  <div class="card-content">
    <h3 class="card-content--title">{{ title }}</h3>
    <h2 class="card-content--subtitle">{{ subtitle }}</h2>
    <ul class="card-content--items">
      <ng-container *ngFor="let item of items">
        <li>
          <img [src]="item.img" alt="the chip" />
          <span>{{ item.info }}</span>
        </li>
      </ng-container>

      <ng-container *ngIf="isWithoutFee">
        <li class="tooltip">
          <img src="../../assets/icons/info-icon.svg" alt="info icons" />
        </li>
      </ng-container>
    </ul>
  </div>
</div>
