.home-card-wrapper {
  &__img {
    display: none;
  }

  &__card-content {
    padding-top: 2.5rem;

    &--title {
      font-size: 1.3rem;
      line-height: 1.2;
    }

    &--subtitle {
      color: var(--clr-blue);
      font-size: 2.5rem;
      font-family: "FuturaPTBold";
    }

    &--items {
      margin: 0;

      &__block {
        position: relative;
        padding-left: 15px;
        padding-top: 0;

        padding-bottom: 15px;
        font-size: 1.2rem;
      }
    }

    &__tooltip {
      width: 19px;
    }
  }
}

li::before {
  content: "";
  width: 15px;
  height: 15px;

  background: url("../../../../assets/icons/list-chip.png");
  background-size: cover;
  background-position: 50%;

  position: absolute;
  left: -15px;
  top: 0.27rem;
}

.tag {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--clr-blue);
}

.tooltip--li {
  padding-top: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 770px) {
  .home-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__img {
      display: block;
      flex: 1;
    }

    &__card-content {
      &--title {
        font-size: 1.7rem;
      }
    }
  }
}
