/*Hero Section*/
.hero {
  background: var(--clr-light-green);
  padding-top: 8rem;
  text-align: center;

  /** Hero Left Section */
  &--title {
    font-size: 1.7rem;
    font-weight: normal;
  }

  &--subtitle {
    font-size: 3rem;
    color: var(--clr-blue);
    font-family: FuturaPTBold;
  }

  &--paragraph {
    font-family: FuturaPTBold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &--content {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &--mobile-apps-platform {
    display: flex;
    justify-content: center;

    &__android,
    &__ios {
      width: 100%;
      max-width: 35%;
    }
  }

  // form
  &-form {
    display: none;
  }

  /** Hero Right Section */
  &--right {
    margin-top: 2.5rem;

    &-img {
      width: 100%;
      max-width: 80%;
    }
  }
}

// .container {
//   padding: 0 0.2rem;
// }
/* Step Section*/
.steps {
  background: var(--clr-light-gray);
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

/* Section: How Its Works */
.how-its-works {
  text-align: center;
  margin-top: 2.5rem;

  &--title {
    font-family: "FuturaPTBold";
    color: var(--clr-blue);
    font-size: 2.2rem;
  }

  // Instructions
  &--instructions {
    margin: 1.5rem 0;
  }

  // Without Fees & Keep Control Background
  &--without-fees,
  &--keep-control {
    background: var(--clr-light-green);
  }

  // Without Fees Section
  &--without-fees {
    text-align: left;
    border-radius: 0.5rem;
  }
}

/* Section : Limitless*/
.how-its-works--limitless {
  text-align: left;
  margin-top: 3rem;

  // Left Section
  &__left {
    &--title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &--subtitle {
      font-size: 2rem;
      color: var(--clr-blue);
      font-family: "FuturaPTBold";
    }

    &-more-info {
      margin: 0.5rem 0;
    }

    &--form {
      display: none;
    }

    &--company-store {
      text-align: justify;

      &--title {
        font-size: 1.3rem;
      }

      &--img-playstore {
        padding-left: 1rem;
      }
    }
  }

  .box-logo {
    margin: 1rem 0;
  }

  // Right Section
  &__right {
    &--img {
      display: none;
    }
  }
}

/* Section Keep In Control*/
.how-its-works--keep-control {
  text-align: justify;
  border-radius: 0.5rem;
}

/* Section Security */
.security {
  margin-top: 2rem;

  &__top--title {
    text-align: center;
    font-family: "FuturaPTBold";
    color: var(--clr-blue);

    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__top--card {
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem 0;
    box-shadow: 1px 1px 15px 7px #eee;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background: #f7f7f7;
      padding: 0 0.5rem;

      // Title
      &--title {
        color: var(--clr-blue);
        font-family: "FuturaPTBold";
        font-size: 1.2rem;
      }

      // Image
      &--img {
        width: 50px;
      }
    }

    // content
    &-content {
      padding-top: 1rem;
      font-size: 1.1rem;
      line-height: 1.5;
    }
  }
}

// Bottom

.bottom {
  padding: 0 1rem;
}
.new-area {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 4rem 0;

  &--background-image {
    background-color: #ccc;
    background-image: url(../../assets/images/new-era-background.jpg);
    padding: 200px 0;
    background-size: cover;
  }
}

li {
  position: relative;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

li::before {
  content: "";
  width: 20px;
  height: 20px;

  background: url("../../assets/icons/list-chip.png");
  background-size: cover;
  background-position: 50%;

  position: absolute;
  left: -15px;
  top: 0.27rem;
}

.font-bold {
  font-weight: bold;
  font-family: "FuturaPTBold";
}
