<section class="hero">
  <div class="hero--left">
    <h3 class="hero--title">Adieu la frustation</h3>
    <h2 class="hero--subtitle">Hello Djamo!</h2>
    <p class="hero--paragraph">
      Le compte et la carte pour mieux gérer votre argent.
    </p>
    <p class="hero--content">
      Ouvrez votre compte gratuitement en vous inscrivant.
    </p>
    <div class="hero--mobile-apps-platform">
      <img
        class="hero--mobile-apps-platform__android"
        src="../../assets/icons/google-play.png"
        alt=" play store"
      />

      <img
        class="hero--mobile-apps-platform__ios"
        src="../../assets/icons/apple-ios.webp"
        alt="apple store"
      />
    </div>
    <!-- form -->
    <app-form></app-form>
  </div>

  <div class="hero--right">
    <img
      class="hero--right-img"
      src="../../assets/images/djamo-card-people.png"
      alt="people interaction"
    />
  </div>
</section>

<section class="steps">
  <ng-container *ngFor="let step of steps">
    <app-step-card
      [stepNumber]="step.postion"
      [stepImage]="step.img"
      [stepLabel]="step.label"
    ></app-step-card>
  </ng-container>
</section>

<section id="how-its-works" class="how-its-works">
  <h2 class="how-its-works--title">Comment ça marche ?</h2>

  <div class="how-its-works--instructions">
    <ng-container *ngFor="let item of instructions">
      <app-how-it-works
        [image]="item.img"
        [content]="item.content"
      ></app-how-it-works>
    </ng-container>
  </div>

  <div class="how-its-works--without-fees container-sm">
    <div class="container">
      <app-home-card
        [img]="cardWithoutFee.img"
        [tag]="cardWithoutFee.tag"
        [isWithoutFee]="true"
        [title]="cardWithoutFee.title"
        [subtitle]="cardWithoutFee.subtitle"
        [items]="cardWithoutFee.items"
      ></app-home-card>
    </div>
  </div>

  <div class="how-its-works--limitless container">
    <div class="how-its-works--limitless__left">
      <div class="how-its-works--limitless__left--title">Sans limites</div>
      <h2 class="how-its-works--limitless__left--subtitle">Sans frontières</h2>
      <ul class="how-its-works--limitless__left--more-info">
        <li class="how-its-works--limitless__left--more-info--item">
          Payez sans frais en ligne et à l'étranger.
        </li>
        <li class="how-its-works--limitless__left--more-info--item">
          Retirez du cash dans le monde entier sans frais cachés grâce à votre
          carte DJAMO Visa.
        </li>
      </ul>

      <!-- Form -->
      <app-form></app-form>

      <div class="how-its-works--limitless__left--company-store">
        <p class="how-its-works--limitless__left--company-store--title">
          Téléchargez l'application maintenant.
        </p>
        <div class="box-logo">
          <img src="../../assets/icons/apple-ios.webp" alt="apple store" />
          <img
            class="how-its-works--limitless__left--company-store--img-playstore"
            src="../../assets/icons/google-play.png"
            alt="play stor"
          />
        </div>
      </div>
    </div>

    <div class="how-its-works--limitless__right">
      <img
        class="how-its-works--limitless__right--img"
        src="../../assets/images/djamo-gang.webp"
        alt="the gang"
      />
    </div>
  </div>

  <div class="how-its-works--keep-control container-sm">
    <div class="container">
      <app-home-card
        [img]="keepControl.img"
        [isWithoutFee]="false"
        [title]="keepControl.title"
        [subtitle]="keepControl.subtitle"
        [items]="keepControl.items"
      ></app-home-card>
    </div>
  </div>
</section>

<section class="security">
  <div class="security__top">
    <h2 class="security__top--title">Votre sécurité, notre priorité</h2>
    <div class="security__top-card-wrapper">
      <!-- First Card -->
      <div class="security__top--card">
        <div class="security__top--card-header">
          <div class="security__top--card-header--title">
            Votre argent est en sécurité
          </div>
          <div class="security__top--card-header--wrapper">
            <img
              class="security__top--card-header--img"
              src="../../assets/icons/safebox-icon.svg"
              alt="safebox-icon"
            />
          </div>
        </div>
        <div class="security__top--card-content">
          <p class="security__top--card-content__paragraph">
            DJAMO a créé de multiples niveaux de systèmes et de programmes de
            sécurité pour
            <span class="font-bold"> protéger votre argent </span> et prévenir
            toute utilisation non autorisée. Votre argent est gardé chez nos
            <span class="font-bold">
              banques partenaires régulées par la BCEAO.</span
            >
          </p>
        </div>
      </div>

      <!-- Second Card -->
      <div class="security__top--card">
        <div class="security__top--card-header">
          <div class="security__top--card-header--title">
            Carte perdue ou volée
          </div>
          <div>
            <img
              class="security__top--card-header--img"
              src="../../assets/icons/secure-card-icon.svg"
              alt="secure-card-icon"
            />
          </div>
        </div>
        <div class="security__top--card-content">
          <p class="security__top--card-content__paragraph">
            <span class="font-bold">Bloquez et débloquez</span> votre carte à
            l'infini et instantanément depuis l'application. Votre carte est
            protégée conformément aux
            <span class="font-bold">règles du plan VISA.</span>
          </p>
        </div>
      </div>

      <!-- Third Card -->
      <div class="security__top--card">
        <div class="security__top--card-header">
          <div class="security__top--card-header--title">
            Paiements sécurisés
          </div>
          <div>
            <img
              class="security__top--card-header--img"
              src="../../assets/icons/shield-icon.svg"
              alt="icon shield"
            />
          </div>
        </div>
        <div class="security__top--card-content">
          <p class="security__top--card-content__paragraph">
            Pas de risque de dépassement, la carte DJAMO fonctionne comme une
            carte prépayée et dispose de la
            <span class="font-bold">technologie 3D Secure</span> pour la
            <span class="font-bold">protection des paiements</span> en ligne.
          </p>
          <div class="security__top--card-content--box-img">
            <img
              class="security__top--card-content--box-img--icon icon-one"
              src="../../assets/images/pci-dss-logo.png"
              alt="pci-dss logo"
            />
            <img
              class="security__top--card-content--box-img--icon"
              src="../../assets/images/3dsecure-logo.png"
              alt="3d secure logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer card -->
  <div class="mb-4">
    <app-footer-card></app-footer-card>
  </div>
</section>
