<section class="hero">
  <div class="left">
    <h3>Adieu la frustation</h3>
    <h2>Hello Djamo!</h2>
    <p>Le compte et la carte pour mieux gérer votre argent.</p>
    <p>Ouvrez votre compte gratuitement en vous inscrivant.</p>
    <div class="mobile-apps-platform">
      <div class="mobile-apps-platform__android">
        <img src="../../assets/icons/google-play.png" alt=" play store" />
      </div>
      <div class="mobile-apps-platform__ios">
        <img src="../../assets/icons/apple-ios.webp" alt="apple store" />
      </div>
    </div>

    <div class="form">
      <form>
        <select name="number" id="number">
          <option value="+225">+225</option>
        </select>
        <input type="text" placeholder="Numero de telephone" />
        <a href="#" class="form-btn--inscription"> S'inscrirse</a>
      </form>
    </div>
  </div>
  <div class="right">
    <img
      class="hero-img"
      src="../../assets/images/djamo-card-people.png"
      alt="people interaction"
    />
  </div>
</section>

<section class="steps">
  <div class="steps--wrapper">
    <div class="step-card">
      <div>
        <img src="../../assets/icons/account-icon.svg" alt="step" />
      </div>
      <div>
        <span>1</span>
        <span>Compte</span>
      </div>
    </div>
  </div>
</section>

<section class="how-its-works">
  <div class="instructions"></div>
  <div class="without-fees"></div>
  <div class="limitless"></div>
  <div class="keep-control"></div>
</section>

<section class="security">
  <div class="money"></div>
  <div class="card"></div>
  <div class="secure payment"></div>

  <div class="welcome-new-area"></div>
</section>
